services:
  api:
    build: .
    container_name: nest_msg_api
    ports:
      - "3333:3333"
    volumes:
      - .:/home/node/nest
    depends_on:
      - "postgres"
      - "rabbitmq"

  postgres:
    image: postgres:16
    container_name: nest_msg_postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: "128m"

  rabbitmq:
    image: "rabbitmq:3.8-management-alpine"
    container_name: nest_msg_rabbitmq
    ports:
      - "15672:15672"
      - "5672:5672"
    volumes:
      - rabbitmq:/var/lib/rabbitmq/mnesia
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: "128m"

volumes:
  postgres:
    driver: local
  rabbitmq:
    driver: local

networks:
  default:
    name: nest_msg_network
